.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #445fa5;
    color: white;
    padding: 0 20px;
}

.navbar-brand {
    font-size: 1.5em;
}

.navbar-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-left: 20px;
}

.nav-item a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

.nav-item a:hover {
    background-color: #555;
}

@media (max-width: 600px) {
    .navbar-nav {
        flex-direction: column;
        align-items: center;
    }

    .nav-item {
        margin: 5px 0;
    }
}