<button class="btn bg-transparent border-0">
    <a routerLink="/champ-alert" routerLinkActive="active" ariaCurrentWhenActive="page">
        <img src="../../assets/AlistarSquare.png" alt="Image of Alistar">
    </a>
</button>

<button class="btn bg-transparent border-0">
    <a routerLink="/champ-alert" routerLinkActive="active" ariaCurrentWhenActive="page">
        <img src="../../assets/JannaSquare.png" alt="Image of Janna">
    </a>
</button>

<button class="btn bg-transparent border-0">
    <a routerLink="/champ-alert" routerLinkActive="active" ariaCurrentWhenActive="page">
        <img src="../../assets/LeonaSquare.png" alt="Image of Leona">
    </a>
</button>

<button class="btn bg-transparent border-0">
    <a routerLink="/champ-alert" routerLinkActive="active" ariaCurrentWhenActive="page">
        <img src="../../assets/NautilusSquare.png" alt="Image of Nautilus">
    </a>
</button>

<a class="btn bg-transparent border-0" routerLink="/champ-alert" routerLinkActive="active" aria-current="page">
    <img src="../../assets/RakanSquare.png" alt="Image of Rakan">
</a>




