<ng-container *ngFor="let champion of champions">
    <ng-container *ngTemplateOutlet="championTemplate; context: {champion: champion}">
    </ng-container>
</ng-container>
  
<ng-template #championTemplate let-champion="champion">
  <a *ngIf="!selectedChampion || selectedChampion === champion.name"
      [routerLink]="['/champ-detail', champion.name]"
      (click)="selectChampion(champion.name)">
    <img [src]="champion.imagePath" [alt]="'Image of ' + champion.name">
  </a>
</ng-template>
  





